In [1]:
import numpy as np
import pandas as pd

data = pd.DataFrame(pd.read_csv("filled_air_data.csv"))
data = data[data.columns[1:]]
#data=data.drop(0,axis = 1)

In [2]:
data[['NO2','PM10','PM2.5','O3']][-10:-1]

         NO2       PM10      PM2.5   O3
6151466  0.0  20.613333  10.818750  0.0
6151467  0.0  14.273333   7.884583  0.0
6151468  0.0  36.657500  17.234167  0.0
6151469  0.0   8.896250   4.524583  0.0
6151470  0.0   9.000000   5.000000  0.0
6151471  0.0  68.435000  35.100000  0.0
6151472  0.0  13.294800   8.397200  0.0
6151473  0.0  16.660833   9.443333  0.0
6151474  0.0  18.291667  10.435417  0.0

In [3]:
data['O3'].isna().sum()

0

In [4]:
data=data.dropna(axis=0,how='any') #drop all rows that have any NaN values

In [5]:
for i in data.columns[-6:]:
    data[i]=data[i].astype(int)

In [6]:
data.shape

(5325908, 12)

In [7]:
data['SiteID'].unique()

array([501., 500., 203., 215., 270., 463., 452., 672.])

In [8]:
air_label_dic = pd.DataFrame({
    'air_component':['NO2','PM10','PM2.5','O3'],
    'princple':[
        [0,68,135,201,268,335,401,468,535,601],
        [0,17,34,51,59,67,76,84,92,101],
        [0,12,24,36,42,48,54,59,65,71],
        [0,34,67,101,121,141,161,188,214,241]]
        })

In [9]:
air_label_dic

  air_component                                         princple
0           NO2  [0, 68, 135, 201, 268, 335, 401, 468, 535, 601]
1          PM10         [0, 17, 34, 51, 59, 67, 76, 84, 92, 101]
2         PM2.5          [0, 12, 24, 36, 42, 48, 54, 59, 65, 71]
3            O3   [0, 34, 67, 101, 121, 141, 161, 188, 214, 241]

In [10]:
def label_maker(comp=[],prcp=[],data=data):
    label_ls=[]
    i=0
    for a in data[comp]:
        lable=10
        for j in range(len(prcp)-1):
            if a >= prcp[j] and a < prcp[j+1]:
                #print(j+1)
                label=j+1
                i=i+1
        label_ls.append(label)    
        #print(a,i,prcp[j],prcp[j+1],label,sep='-----')
    return label_ls

In [11]:
data['NO2_label']=label_maker(comp='NO2',prcp=air_label_dic.iloc[0]['princple'])
data['PM10_label']=label_maker(comp='PM10',prcp=air_label_dic.iloc[1]['princple'])
data['PM2.5_label']=label_maker(comp='PM2.5',prcp=air_label_dic.iloc[2]['princple'])
data['O3_label']=label_maker(comp='O3',prcp=air_label_dic.iloc[3]['princple'])

In [12]:
data['AQI_IDX']=data[['NO2_label','PM10_label','PM2.5_label','O3_label']].max(axis=1)

In [13]:
data.head(30)

,SiteID,Location,Year,Month,Day,Hour,NOx,NO2,NO,PM10,PM2.5,O3,NO2_label,PM10_label,PM2.5_label,O3_label,AQI_IDX
0,501.0,Colston Avenue,2019,4,29,23,122,49,47,14,9,0,1,1,1,1,1
1,501.0,Colston Avenue,2019,4,29,23,122,49,47,80,50,0,1,7,6,1,7
2,501.0,Colston Avenue,2019,4,29,23,122,49,47,21,8,0,1,2,1,1,2
3,501.0,Colston Avenue,2019,4,29,23,122,49,47,15,8,0,1,1,1,1,1
4,501.0,Colston Avenue,2019,4,29,23,122,49,47,15,9,0,1,1,1,1,1
5,501.0,Colston Avenue,2019,4,29,23,122,49,47,17,9,0,1,2,1,1,2
6,501.0,Colston Avenue,2019,4,29,23,122,49,47,6,3,0,1,1,1,1,1
7,501.0,Colston Avenue,2019,4,29,23,122,49,47,49,31,0,1,3,3,1,3
8,501.0,Colston Avenue,2019,4,29,23,122,49,47,16,11,0,1,1,1,1,1
9,501.0,Colston Avenue,2019,4,29,23,122,49,47,12,8,0,1,1,1,1,1
10,501.0,Colston Avenue,2019,4,29,23,122,49,47,13,7,0,1,1,1,1,1
11,501.0,Colston Avenue,2019,4,29,23,122,49,47,13,7,0,1,1,1,1,1
12,501.0,Colston Avenue,2019,4,29,23,122,49,47,14,8,0,1,1,1,1,1
13,501.0,Colston Avenue,2019,4,29,23,122,49,47,15,9,0,1,1,1,1,1
14,501.0,Colston Avenue,2019,4,29,23,122,49,47,16,9,0,1,1,1,1,1
15,501.0,Colston Avenue,2019,4,29,23,122,49,47,15,8,0,1,1,1,1,1
16,501.0,Colston Avenue,2019,4,29,23,122,49,47,17,10,0,1,2,1,1,2
17,501.0,Colston Avenue,2019,4,29,23,122,49,47,17,11,0,1,2,1,1,2
18,501.0,Colston Avenue,2019,4,29,23,122,49,47,12,7,0,1,1,1,1,1
19,501.0,Colston Avenue,2019,4,29,23,122,49,47,10,5,0,1,1,1,1,1
20,501.0,Colston Avenue,2019,4,29,23,122,49,47,20,7,0,1,2,1,1,2
21,501.0,Colston Avenue,2019,4,29,23,122,49,47,23,10,0,1,2,1,1,2
22,501.0,Colston Avenue,2019,4,30,3,42,35,4,14,9,0,1,1,1,1,1
23,501.0,Colston Avenue,2019,4,30,3,42,35,4,6,4,0,1,1,1,1,1
24,501.0,Colston Avenue,2019,4,30,3,42,35,4,15,11,0,1,1,1,1,1
25,501.0,Colston Avenue,2019,4,30,3,42,35,4,24,12,0,1,2,2,1,2
26,501.0,Colston Avenue,2019,4,30,3,42,35,4,15,9,0,1,1,1,1,1
27,501.0,Colston Avenue,2019,4,30,3,42,35,4,18,11,0,1,2,1,1,2
28,501.0,Colston Avenue,2019,4,30,3,42,35,4,16,11,0,1,1,1,1,1
29,501.0,Colston Avenue,2019,4,30,3,42,35,4,18,10,0,1,2,1,1,2

In [14]:
data.AQI_IDX.unique()

array([1, 7, 2, 3, 4, 6, 9, 8, 5], dtype=int64)

In [15]:
hour_data=data.groupby(['Year','Month','Date','Hour'],as_index=True).agg(max_AQI=('AQI_IDX','max'),
                                                                         min_AQI=('AQI_IDX','min'),
                                                                         mean_AQI=('AQI_IDX','mean'))
#hour_data.mean_AQI=hour_data.mean_AQI.astype(int)

KeyError: 'Date'

In [ ]:
hour_data[15:60]

In [ ]:
hour_data.mean_AQI.unique()

In [ ]:
hour_data.to_csv('D:\学习资料\DataScience\TB2\Mini-project\process_data\Hour_data_20230222.csv',index=False)