In [2]:
import pandas as pd
import csv
import codecs
import os

In [2]:
Meteorology = pd.read_csv("met-data-bristol-lulsgate.csv", delimiter=';')

Meteorology['Date'] = Meteorology['Date Time'].apply(lambda x: x.split('+')[0])
Meteorology['Year'] = pd.to_datetime(Meteorology['Date'],format='%Y-%m-%dT%H:%M:%S').dt.year
Meteorology['Month'] = pd.to_datetime(Meteorology['Date'],format='%Y-%m-%dT%H:%M:%S').dt.month
Meteorology['Day'] = pd.to_datetime(Meteorology['Date'],format='%Y-%m-%dT%H:%M:%S').dt.day
Meteorology['Hour'] = pd.to_datetime(Meteorology['Date'],format='%Y-%m-%dT%H:%M:%S').dt.hour

Meteorology = Meteorology[['Year', 'Month', 'Day', 'Hour', 'Temperature', 'Dewpoint Temperature', 'Wind Speed', 'Visibility', 'Wind Chill Temperature', 'Relative Humidity']]
Meteorology.fillna(0)
Meteorology.head(5)

,Year,Month,Day,Hour,Temperature,Dewpoint Temperature,Wind Speed,Visibility,Wind Chill Temperature,Relative Humidity
0,2019,1,26,2,7.0,7.0,5.658,9.994,3.550,100.0
1,2019,1,26,1,7.0,7.0,5.658,9.994,3.550,100.0
2,2019,1,25,22,7.0,7.0,8.745,9.994,2.544,100.0
3,2019,1,25,18,8.0,8.0,7.202,7.001,4.289,100.0
4,2019,1,25,15,9.0,9.0,4.630,9.994,6.478,100.0

In [3]:
industrial = pd.read_csv("industrial-releases-large.csv", delimiter=';')
industrial = industrial[['Year', 'Postcode', 'Reporting Threshold', 'Quantity Released (numeric)', 'geo_point_2d']]
industrial = industrial.fillna(0)
industrial.head(5)

,Year,Postcode,Reporting Threshold,Quantity Released (numeric),geo_point_2d
0,2013,BS31 3ER,1.00,0.0,"51.410948, -2.442972"
1,2013,BS31 3ER,100.00,0.0,"51.410948, -2.442972"
2,2013,BS31 3ER,0.05,0.0,"51.410948, -2.442972"
3,2013,BS31 3ER,20.00,36.9,"51.410948, -2.442972"
4,2013,BS31 3ER,1000.00,1370.0,"51.410948, -2.442972"

In [4]:
tree = pd.read_csv("tree-planting-locations.csv", delimiter=';')
# tree = tree[['Feature start date', 'Type of tree', 'geo_point_2d']]
tree.head(5)
# tree.Sponsorship.unique()

,OBJECTID,X,Y,Site code,Site name,Plot number,Sponsorship,Latin code,Latin name,Feature type name,Type of tree,Common name,Asset id,Feature start date,geo_shape,geo_point_2d
0,915777,353494.02,177677.48,BANGWAAL,Bangrove Walk Amenity Land,200013.5,Available to Sponsor,LITU,Liriodendron tulipifera,PK: Tree - Tree Planting Locat,Tulip Tree,Tulip tree,PK00285796,2017-08-08T03:00:00+01:00,"{""coordinates"": [-2.671314279945971, 51.496112...","51.496112976681, -2.671314279945971"
1,915772,354057.17,177113.99,SHIRPA,Shirehampton Park,200001.5,Available to Sponsor,ACC2,Acer campestre,PK: Tree - Tree Planting Locat,Field Maple,Field maple,PK304407,2019-09-26T03:00:00+01:00,"{""coordinates"": [-2.663128971955957, 51.491093...","51.49109301287853, -2.663128971955957"
2,915731,355172.20,175614.16,4540939,Sabrina Way,200005.5,Available to Sponsor,SOA4,Sorbus a 'Cardinal Royal',PK: Tree - Tree Planting Locat,Rowan,Rowan cultivar,PK00287664,2017-10-23T03:00:00+01:00,"{""coordinates"": [-2.646878977336136, 51.477698...","51.47769804124667, -2.646878977336136"
3,915729,363973.25,175315.93,HILLREGR,Hillfields Park,200015.5,Available to Sponsor,BEPE,Betula pendula,PK: Tree - Tree Planting Locat,Silver Birch,Silver birch,PK00501026,2020-10-08T03:00:00+01:00,"{""coordinates"": [-2.520124020216623, 51.475647...","51.47564706553951, -2.520124020216623"
4,915708,362242.84,175353.07,4560023,Thingwall Park,200022.5,Available to Sponsor,TIC1,Tilia cordata Greenspire,PK: Tree - Tree Planting Locat,Lime,Small-leaved lime cultivar,PK00501033,2020-08-07T03:00:00+01:00,"{""coordinates"": [-2.545042016053264, 51.475867...","51.475867914271525, -2.545042016053264"

In [5]:
# tree = tree[['Feature start date', 'geo_point_2d', 'Plot number']]

tree['Date'] = tree['Feature start date'].apply(lambda x: x.split('+')[0])
tree['Year'] = pd.to_datetime(tree['Date'],format='%Y-%m-%dT%H:%M:%S').dt.year
tree['Month'] = pd.to_datetime(tree['Date'],format='%Y-%m-%dT%H:%M:%S').dt.month
tree['Day'] = pd.to_datetime(tree['Date'],format='%Y-%m-%dT%H:%M:%S').dt.day
tree['Hour'] = pd.to_datetime(tree['Date'],format='%Y-%m-%dT%H:%M:%S').dt.hour

tree = tree[['Year', 'Month', 'Day', 'Hour', 'geo_point_2d', 'Type of tree']]
tree['Longitude'] = tree['geo_point_2d'].apply(lambda x: x.split(',')[0])
tree['Latitude'] = tree['geo_point_2d'].apply(lambda x: x.split(',')[1])
tree.head(5)

,Year,Month,Day,Hour,geo_point_2d,Type of tree,Longitude,Latitude
0,2017,8,8,3,"51.496112976681, -2.671314279945971",Tulip Tree,51.496112976681,-2.671314279945971
1,2019,9,26,3,"51.49109301287853, -2.663128971955957",Field Maple,51.49109301287853,-2.663128971955957
2,2017,10,23,3,"51.47769804124667, -2.646878977336136",Rowan,51.47769804124667,-2.646878977336136
3,2020,10,8,3,"51.47564706553951, -2.520124020216623",Silver Birch,51.47564706553951,-2.520124020216623
4,2020,8,7,3,"51.475867914271525, -2.545042016053264",Lime,51.475867914271525,-2.545042016053264

In [6]:
tree = tree.dropna(subset=['Type of tree'])
print(len(tree))

623

In [7]:
tree

,Year,Month,Day,Hour,geo_point_2d,Type of tree,Longitude,Latitude
0,2017,8,8,3,"51.496112976681, -2.671314279945971",Tulip Tree,51.496112976681,-2.671314279945971
1,2019,9,26,3,"51.49109301287853, -2.663128971955957",Field Maple,51.49109301287853,-2.663128971955957
2,2017,10,23,3,"51.47769804124667, -2.646878977336136",Rowan,51.47769804124667,-2.646878977336136
3,2020,10,8,3,"51.47564706553951, -2.520124020216623",Silver Birch,51.47564706553951,-2.520124020216623
4,2020,8,7,3,"51.475867914271525, -2.545042016053264",Lime,51.475867914271525,-2.545042016053264
...,...,...,...,...,...,...,...,...
815,2018,6,22,3,"51.48823780308421, -2.593618005722539",Birch,51.48823780308421,-2.593618005722539
817,2021,2,4,1,"51.47510696565915, -2.514040043092786",Oak,51.47510696565915,-2.514040043092786
818,2016,7,15,3,"51.49026892893649, -2.678546976344183",Hornbeam,51.49026892893649,-2.678546976344183
821,2011,10,7,3,"51.46099124051545, -2.551176677621704",Gingko,51.46099124051545,-2.551176677621704
823,2016,8,16,3,"51.47569527506801, -2.552604712453043",Whitebeam,51.47569527506801,-2.552604712453043

In [11]:
import geopy
tree['Zip Code']=tree['Year']
# zip_code = []
# def geo_convert_zip(x):
#     geo_locator = geopy.Nominatim(user_agent='1234')
                          
#     r = geo_locator.reverse((x['Longitude'], x['Latitude']))
#     return(r.raw['address']['postcode'])
geo_locator = geopy.Nominatim(user_agent='123')
for i in range(20):
# for i in range(len(tree)):
    r = geo_locator.reverse((tree.loc[i,'Longitude'], tree.loc[i,'Latitude']))
    tree.loc[i,'Zip Code'] = r.raw['address']['postcode']
#     print(r.raw['address']['postcode'])
# traffic.loc[:,'Zip Code'] = traffic.assign('Zip Code' = lambda x: )
tree.head(5)

KeyError: 5

In [ ]:
print(len(tree))

In [3]:
covid_19_cases = pd.read_csv("covid-19-cases.csv", delimiter=';')
covid_19_cases.head(5)

,Area name,Specimen date,Daily lab-confirmed cases,Cumulative lab-confirmed cases,Cumulative lab-confirmed cases rate,geo_shape,geo_point_2d
0,North Somerset,2021-06-29,98,10966,5099.2,"{""coordinates"": [[[-2.7276908, 51.4997823], [-...","51.3892298341, -2.80066579483"
1,Bath and North East Somerset,2021-07-01,81,9315,4819.4,"{""coordinates"": [[[-2.3428993, 51.4393887], [-...","51.3559707863, -2.47520121048"
2,South Gloucestershire,2021-07-01,116,16893,5925.4,"{""coordinates"": [[[-2.5090178, 51.6660602], [-...","51.5468677188, -2.47061248413"
3,England,2021-06-28,22838,4171798,7411.7,"{""coordinates"": [-1.647762, 52.438655], ""type""...","52.438655, -1.647762"
4,North Somerset,2021-07-05,85,11479,5337.8,"{""coordinates"": [[[-2.7276908, 51.4997823], [-...","51.3892298341, -2.80066579483"

In [ ]:
covid_19_cases['Year'] = pd.to_datetime(covid_19_cases['Specimen date'],format='%Y-%m-%d').dt.year
covid_19_cases['Month'] = pd.to_datetime(covid_19_cases['Specimen date'],format='%Y-%m-%d').dt.month
covid_19_cases['Day'] = pd.to_datetime(covid_19_cases['Specimen date'],format='%Y-%m-%d').dt.day
covid_19_cases.head(5)

In [ ]:
covid_19_cases = covid_19_cases[['Year', 'Month','Day', 'Area name', 'geo_point_2d', 'Daily lab-confirmed cases', 'Cumulative lab-confirmed cases', 'Cumulative lab-confirmed cases rate']]
covid_19_cases.head(5)

In [ ]:
covid_19_deaths = pd.read_csv("covid-19-deaths.csv", delimiter=';')
covid_19_deaths.head(5)

In [ ]:
covid_19_deaths['Year'] = pd.to_datetime(covid_19_deaths['Week ending on'],format='%Y-%m-%d').dt.year
covid_19_deaths['Month'] = pd.to_datetime(covid_19_deaths['Week ending on'],format='%Y-%m-%d').dt.month
covid_19_deaths['Day'] = pd.to_datetime(covid_19_deaths['Week ending on'],format='%Y-%m-%d').dt.day
covid_19_deaths.head(5)

In [ ]:
covid_19_deaths = covid_19_deaths[['Year', 'Month', 'Day', 'Area name','geo_point_2d', 'Number of deaths']]
covid_19_deaths.head(5)

In [1]:
covid_19_vaccinations = pd.read_csv("covid-19-vaccinations.csv", delimiter=';')
covid_19_vaccinations.head(5)

NameError: name 'pd' is not defined

In [ ]:
crime = pd.read_csv("crime-recorded-by-police-by-selected-offence-groups-in-bristol-by-ward.csv", delimiter=';')
crime.head(5)

In [ ]:
crime['Year'] = pd.to_datetime(crime['Time Period'],format='%Y/%d').dt.year

crime = crime[['Year', 'geo_point_2d', 'All Crimes (number)', 'All Crimes (rate per 1000 ward population)']]
crime.head(5)

In [ ]:
journey = pd.read_csv('fact-journey-hourly.csv', delimiter=';')
journey.head(5)
# journey['Total Matches'].unique

In [ ]:
journey['Date'] = journey['Date Time'].apply(lambda x: x.split('+')[0])
journey['Year'] = pd.to_datetime(journey['Date'],format='%Y-%m-%dT%H:%M:%S').dt.year
journey['Month'] = pd.to_datetime(journey['Date'],format='%Y-%m-%dT%H:%M:%S').dt.month
journey['Day'] = pd.to_datetime(journey['Date'],format='%Y-%m-%dT%H:%M:%S').dt.day
journey['Hour'] = pd.to_datetime(journey['Date'],format='%Y-%m-%dT%H:%M:%S').dt.hour

journey = journey[['Year', 'Month', 'Day', 'Hour', 'Total Matches', 'Journey Time']]
journey.head(5)

In [ ]:
# polling_stations = pd.read_csv('polling-stations.csv', delimiter=';')
# polling_stations.head(5)

In [ ]:
nature_conservation = pd.read_csv('sites-of-nature-conservation-interest.csv', delimiter=';')
nature_conservation.head(5)

In [12]:
solar = pd.read_csv('solar-potential.csv', delimiter=';')
print(solar.Suitability.unique)
solar.head(5)

<bound method Series.unique of 0              well suitable
1              well suitable
2              well suitable
3              well suitable
4              well suitable
                 ...
158143    excellent suitable
158144         well suitable
158145         well suitable
158146         well suitable
158147    excellent suitable
Name: Suitability, Length: 158148, dtype: object>

,OBJECTID,"Insolation, kWh/m2 per yr",Unshaded roof area (m2),PV generation (kWh/yr),PV emission savings (kg CO2/yr),PV system size (kWp),Suitability,geo_shape,geo_point_2d
0,86655,980.7895,40.1878,3547.4185,1926.2482,5.7411,well suitable,"{""coordinates"": [[[-2.7006225668678545, 51.500...","51.50089140748006, -2.700523133319994"
1,86659,950.0000,11.7728,1006.5707,546.5679,1.6818,well suitable,"{""coordinates"": [[[-2.7006537356512057, 51.502...","51.50216121553671, -2.7007004078201047"
2,86660,967.3846,11.8331,1030.2413,559.4210,1.6904,well suitable,"{""coordinates"": [[[-2.697514685065753, 51.5017...","51.50178831337681, -2.6974788905402254"
3,86662,985.1429,35.6011,3156.4990,1713.9790,5.0859,well suitable,"{""coordinates"": [[[-2.6977067319744856, 51.501...","51.50124217288002, -2.6976874481325415"
4,86663,962.2222,10.2682,889.2233,482.8483,1.4669,well suitable,"{""coordinates"": [[[-2.7007194748023675, 51.502...","51.502220312577414, -2.700765367907451"

In [ ]:
# streetlights = pd.read_csv('streetlights-and-street-furniture.csv', delimiter=';')
# streetlights.head(5)

In [ ]:
waste = pd.read_csv('bristol-waste-data-annual.csv', delimiter=';')
waste

In [ ]:
ev_charging_points = pd.read_csv('ev_charging_points.csv', delimiter=';')
ev_charging_points = ev_charging_points[['last_status_update', 'postcode', 'power_output']]
ev_charging_points.head(5)

In [ ]:

quality_of_life = pd.read_csv('quality-of-life-2021-22-ward.csv', delimiter=';')
quality_of_life