In [1]:
import pandas as pd

traffic = pd.read_csv("fact-traffic-counts.csv", delimiter=';')

In [2]:
traffic.head(5)

,Count Device ID,Date Time,Hourly Flow,Hourly Profile,Description,Full Name,geo_point_2d,Link,Link Direction Lane,Junction
0,522,2020-11-02T06:00:00+00:00,128,96,Bath Rd OB L3 @ Glenarm Rd,D24123 - Bath Rd OB L3 @ Glenarm Rd,"51.433172, -2.5467929",Bath Rd,Bath Rd OB L3,Glenarm Rd
1,604,2020-03-05T13:00:00+00:00,752,752,Bath Rd OB @ Tramway Rd Exit,D34136 - Bath Rd OB @ Tramway Rd Exit,"51.437571, -2.5567655",Bath Rd,Bath Rd OB,Tramway Rd Exit
2,595,2020-11-11T00:00:00+00:00,88,112,Bath Rd OB @ Kings Rd,D34121 - Bath Rd OB @ Kings Rd,"51.440058, -2.559064",Bath Rd,Bath Rd OB,Kings Rd
3,563,2020-02-10T13:00:00+00:00,488,488,Bath Rd OB L2 @ Emery Rd,D24449 - Bath Rd OB L2 @ Emery Rd,"51.429403, -2.538724",Bath Rd,Bath Rd OB L2,Emery Rd
4,453,2020-05-03T16:00:00+01:00,216,400,Bath Rd IB @ Angers Rd,D14225 - Bath Rd IB @ Angers Rd,"51.442908, -2.5755239",Bath Rd,Bath Rd IB,Angers Rd

In [3]:
traffic = traffic[['Date Time', 'Hourly Flow', 'Hourly Profile', 'Link', 'geo_point_2d']]
traffic.sort_values('Date Time', ascending = True)
traffic.head(5)

,Date Time,Hourly Flow,Hourly Profile,Link,geo_point_2d
0,2020-11-02T06:00:00+00:00,128,96,Bath Rd,"51.433172, -2.5467929"
1,2020-03-05T13:00:00+00:00,752,752,Bath Rd,"51.437571, -2.5567655"
2,2020-11-11T00:00:00+00:00,88,112,Bath Rd,"51.440058, -2.559064"
3,2020-02-10T13:00:00+00:00,488,488,Bath Rd,"51.429403, -2.538724"
4,2020-05-03T16:00:00+01:00,216,400,Bath Rd,"51.442908, -2.5755239"

In [4]:
# traffic['Hour_sum'] = traffic['Date Time'].apply(lambda x: x.split(':')[2])
# traffic['Hour_0'] = traffic['Hour_sum'].apply(lambda x: x.split('+')[2])
# traffic['Date'] = traffic['Date Time'].apply(lambda x: x.split('+')[0])
traffic['Date'] = traffic['Date Time'].apply(lambda x: x.split('+')[0])
traffic['Year'] = pd.to_datetime(traffic['Date'],format='%Y-%m-%dT%H:%M:%S').dt.year
traffic['Month'] = pd.to_datetime(traffic['Date'],format='%Y-%m-%dT%H:%M:%S').dt.month
traffic['Day'] = pd.to_datetime(traffic['Date'],format='%Y-%m-%dT%H:%M:%S').dt.day
traffic['hour'] = pd.to_datetime(traffic['Date'],format='%Y-%m-%dT%H:%M:%S').dt.hour

traffic['Longitude'] = traffic['geo_point_2d'].apply(lambda x: x.split(',')[0])
traffic['Latitude'] = traffic['geo_point_2d'].apply(lambda x: x.split(',')[1])
traffic = traffic.astype({'Longitude':'float', 'Latitude':'float'})
traffic = traffic[['Year', 'Month', 'Day', 'hour', 'Hourly Flow', 'Hourly Profile', 'Link', 'Longitude', 'Latitude']]
traffic.head(5)

,Year,Month,Day,hour,Hourly Flow,Hourly Profile,Link,Longitude,Latitude
0,2020,11,2,6,128,96,Bath Rd,51.433172,-2.546793
1,2020,3,5,13,752,752,Bath Rd,51.437571,-2.556766
2,2020,11,11,0,88,112,Bath Rd,51.440058,-2.559064
3,2020,2,10,13,488,488,Bath Rd,51.429403,-2.538724
4,2020,5,3,16,216,400,Bath Rd,51.442908,-2.575524

In [5]:
traffic['Latitude'].values

array([-2.5467929, -2.5567655, -2.559064 , ..., -2.53849  , -2.53849  ,
       -2.53849  ])

In [6]:
#pip install geopy

Requirement already satisfied: geopy in /Users/duchenyu/opt/anaconda3/lib/python3.9/site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /Users/duchenyu/opt/anaconda3/lib/python3.9/site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
import geopy
traffic['Zip Code']=traffic['Year']
zip_code = []
# def geo_convert_zip(x):
#     geo_locator = geopy.Nominatim(user_agent='1234')
                          
#     r = geo_locator.reverse((x['Longitude'], x['Latitude']))
#     return(r.raw['address']['postcode'])
geo_locator = geopy.Nominatim(user_agent='1234')
for i in range(0,20):
    r = geo_locator.reverse((traffic.loc[i,'Longitude'], traffic.loc[i,'Latitude']))
    traffic.loc[i,'Zip Code'] = r.raw['address']['postcode']
# traffic.loc[:,'Zip Code'] = traffic.assign('Zip Code' = lambda x: )
traffic.head(5)

,Year,Month,Day,hour,Hourly Flow,Hourly Profile,Link,Longitude,Latitude,Zip Code
0,2020,11,2,6,128,96,Bath Rd,51.433172,-2.546793,BS4 4LL
1,2020,3,5,13,752,752,Bath Rd,51.437571,-2.556766,BS4 3LE
2,2020,11,11,0,88,112,Bath Rd,51.440058,-2.559064,BS4 3JY
3,2020,2,10,13,488,488,Bath Rd,51.429403,-2.538724,BS4 5LR
4,2020,5,3,16,216,400,Bath Rd,51.442908,-2.575524,BS4 3TA

In [ ]:
conda install -c esri arcgis

In [ ]:
import geopy
zip_code = []

geo_locator = geopy.Nominatim(user_agent='1234')
                          
r = geo_locator.reverse((51.433172, -2.546793))

print(type(r.raw['address']['postcode']))

In [9]:
geo_convert_zip([51.4,-2.5])

TypeError: list indices must be integers or slices, not str

In [16]:
traffic.loc[2,'Latitude']

-2.559064